[Unit]
Description=REST-API at home
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/restAtHome/bin
ExecStart=/usr/local/lib/nodejs/node-v8.11.2/bin/node /opt/restAtHome/bin/restAtHome.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
