[Unit]
Description=REST-API at home
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/restAtHome/
ExecStart=/usr/bin/node /opt/restAtHome/restAtHome.js
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=RestAtHome

[Install]
WantedBy=multi-user.target
